<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>CHARMELEON</title>
		<script src="https://code.jquery.com/jquery.js"></script>
      {{!-- rename the js file here --}}  
		<script src="/js/villager.js"></script>
		</head>
	<body>
		{{{ body }}}
	</body>
</html>


