<script src="https://code.jquery.com/jquery.js"></script>
    <h1>Dreamy Villagers</h1>

{{!-- <div class="container"> --}}
  <div class="row">
    <div class ="col">
      <h2>Current Villagers</h2>
      <div>
        <ul>
          {{#each villagers}}
            {{#unless dreamy}}
    
            {{/unless}}
          {{/each}}
         </ul>
       </div>
    </div>
    <div class="col">
      <h2>Dream Villagers</h2>
      <ul>
        {{#each villagers}}
          {{#if dreamy}}

          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>


    <div class="row">
    <div class ="col">    
      <h3>Search a Villager</h3>
        <form class="search-form">

        <div class="form-group">
          <label for="vi">Villager Name: </label>
          <input type="text" id="vi" name="villagerName">
          <button type="submit" class="villagersearchbtn">Search Villagers</button>
        </div>
    </div>
  </div>
  </form>
