body.members {
    background-image: url("../images/dream.gif");
    background-size: cover;
}

body.login {
    background-image: url("../images/beachnight.jpg");
    background-size: 100%;
}

body.signup {
    background-image: url("../images/plane.png");
    background-size: cover;
}

@font-face{
    font-family: "finkHeavy";
    src: url('./FinkHeavy.woff');
    }

* {
    font-family: FinkHeavy, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.loginHeader {
    background-image: url("../images/star.gif");
    color: aliceblue;
    height: 190px;
}

.signupHeader {
    color: rgb(128, 73, 41);
    height: 190px;
}

.jumbotron {
    background-color: rgb(255, 240, 207, 0.5);
}

.row.login {
    background-color: rgb(80, 78, 124, 0.8);
    color: aliceblue;
    width: fit-content;
    margin-left: 25%;
    margin-right: 25%;
}

.row.new {
    background-color: rgb(80, 78, 124, 0.8);
    color: aliceblue;
    width: fit-content;
    margin-left: 25%;
    margin-right: 25%;
    width: 500px;
}

.login a {
    color: rgb(232, 188, 56);
}

.signUp a {
    color: rgb(232, 188, 56);
}


button.btn.btn-default {
    color: aliceblue;
}

img {
    margin: 2%;
    max-height: 275px;
    padding: 2%;
    margin-left: 15%;
}

.searchReturn {
    border-radius: 10px;
    background-color: rgb(210, 83, 234, 0.8);
    margin: 2%;
    padding: 2%;
    margin-bottom: 13%;
}

input#searchbtn {
    background-image: url("/public/images/leaf.png");
    width: 35px;
    height: 35px;
}

.bio {
    border-radius: 15px;
    background-color: rgb(255, 240, 207);
    padding-bottom: 1%;
}

.lists {
    margin: 2%;
}

#poster {
    border-radius: 25px;
    background-image: url(../images/blueSky.gif);
    /* background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 20%, rgba(50,32,105,1) 80%); */
    height: fit-content;
}

#house {
    border-radius: 50px;
    background-image: url(../images/blueSky.gif);
    /* background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 20%, rgba(50,32,105,1) 80%); */
    height: fit-content;
}

.dreamyList {
    border-radius: 15px;
    background-color: rgb(255, 240, 207);
}

.myIsland {
    border-radius: 15px;
    background-color: rgb(255, 240, 207);
}

.logo {
    float: right;
    height: 100px;
}

.twins{
    max-height: 200px;
}

.orville{
    max-height: 200px;
}

footer {
    background-color: rgb(50, 32, 105);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 2%;
    height: 200px;
}

footer.login {
    background-color: unset;
}

.celeste {
    height: 200px;
}

.tomnook {
    height: 250px;
}

.isabelle {
    height: 250px;
}

.btn {
    border-radius: 8px;
    background-color: rgb(50, 32, 105);
    border-color: whitesmoke;
    cursor: pointer;
    margin: 1%;
    height: 60px;
}

.leaf {
    max-width: 35px;
    margin-left: 0%;
}

.addDreamy {
    max-width: 35px;
    margin-left: 0%;
}

#addIsland {
    border-radius: 8px;
    background-color: rgb(15, 18, 63);
    border-color: rgb(255, 240, 207);
    cursor: pointer;
    margin: 1%;
    padding: 1%;
    height: fit-content;
}

#addDreamy {
    border-radius: 8px;
    background-color: rgb(15, 18, 63);
    border-color: rgb(255, 240, 207);
    cursor: pointer;
    margin: 1%;
    padding: 1%;
    height: fit-content;
}

.islandbtn {
    border-radius: 8px;
    background-color: rgb(50, 32, 105);
    border-color: whitesmoke;
    color: aliceblue;
    cursor: pointer;
    margin-right: 1%;
    position: relative;
    float: right;
}

.deletebtn {
    border-radius: 8px;
    background-color: rgb(50, 32, 105);
    border-color: whitesmoke;
    color: aliceblue;
    cursor: pointer;
    margin-left: 1%;
    position: relative;
    float: right;
}

.dreamybtn {
    border-radius: 8px;
    background-color: rgb(50, 32, 105);
    border-color: whitesmoke;
    color: aliceblue;
    cursor: pointer;
    margin-right: 1%;
    position: relative;
    float: right;
}

li{ 
    height: 33px;
    font-size: 18px;
}

input {
    height: 50px;
    border-radius: 8px;
}

.islandIcon {
    max-width: 20px;
    margin-left: 0%;
}

.moveDreamy {
    max-width: 20px;
    margin-left: 0%;
}

.removeIcon {
    max-width: 20px;
    margin-left: 0%;
}